* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-location-dot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-size: 18px;
    width: 40px;
    background-color: #F2F2F2;
    height: 28px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px;
}

.fa-solid {
    color: var(--main-color);
}

.search .fa-solid {
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 79px;
}

.navigate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 68px;
    font-size: 16px;
    box-sizing: border-box;
}

.button {
    padding: 0 10px;
    margin: 10px 0;
}

.button :hover {
    color: #0065FC;
}

.button :after {
    content: "";
    position: absolute;
    background-color: #0065FC;
    height: 3px;
    width: 0;
    left: 0;
    top: -38px;
}

.button :hover:after {
    width: 100%;
}

h1 {
    font-size: 22px;
}

form {
    display: flex;
}

input {
    display: flex;
    border: 1px solid #F2F2F2;
    font-size: 20px;
    justify-content: center;
    padding: 15px;
}

button {
    border: none;
}

::placeholder {
    color: black;
    font-weight: bold;
}

.search {
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search span {
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
}

.search i {
    display: none;
}

.Allfilters {
    display: flex;
    padding-top: 35px;
    gap: 15px;
    font-size: 18px;
    font-weight: bold;

}

.filter-item {
    display: flex;
    border: 2px solid #87878778;
    padding: 2px 18px;
    border-radius: 50px;
}

.filter-item:hover {
    background-color: #DEEBFF;
}

.fa-money-bill-wave {
    display: flex;
    align-items: center;
    padding: 10px;
}

.fa-person {
    display: flex;
    align-items: center;
    padding: 10px;
}

.fa-heart {
    display: flex;
    align-items: center;
    padding: 10px;
}

.fa-fire {
    display: flex;
    align-items: center;
    padding: 10px;
}

.info {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
    height: 19px;
    gap: 10px;
}

.fa-info {
    display: flex;
    border: 2px solid #87878778;
    border-radius: 100%;
    padding: 10px;
    width: 16px;
    height: 16px;
    justify-content: space-around;

}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.logo-container {
    height: 79px;
}

.imglogo {
    width: 70px;
    padding: 30px 50px 50px 0px;
}

a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

.section-title {
    margin: 0;
    font-size: 22px;

}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.hebergements-cards a {
    width: 29%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.hebergements-cards img {
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.show-more a {
    font-weight: 700;
    display: flex;
    padding-top: 30px;
}

.activities {
    width: 100%;
    padding-top: 35px;
}

.activity-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.activity-card a {
    display: flex;
    flex-direction: column;
    width: 23%;
}

.activity-card img {
    width: 100%;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activity-card .card {
    padding: 0;
}

.activities .section-title {
    padding: 30px;
}

.activity-card .card-content {
    background-color: white;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 60px;
}

.foot {
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    margin-top: 50px;
    font-size: 16px;
}

.foot-title {
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding-left: 7px;
}

.foot-column-size {
    width: 31%;
}

li {
    margin: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    .main-container {
        padding: 0 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards .card-subtitle,
    .hebergements-cards  .card-title {
        margin: 5px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .Allfilters {
        flex-wrap: wrap;
        padding-top: 15px;
    }

    .filter {
        width: 100%;
        display: block;
        margin-bottom: -15px;
    }

    .activity-card img {
        height: 200px;
    }
    
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        margin: 0;
    }

    header {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .logo-container {
        display: flex;
        justify-content: center;
    }

    .imglogo {
        padding: 30px;
    }

    .button {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .button:active {
        color: #0065FC;
    }

    .button :after {
        bottom: -15px;
        top: inherit;
    }

    .search {
        border-radius: 15px;
        box-shadow: 0px 5px 5px 0px #87878782;
        border-color: transparent;
        margin-left: -40px;
    }

    .search i {
        display: block;
        padding: 15px;
        font-size: 20px;
    }
    
    .search span {
        display: none;
    }


    .global-form {
        width: 100%;
    }

    .Allfilters {
        flex-wrap: wrap;
    }

    .filter-item {
        width: 45%;
        font-size: 14px;
        justify-content: center;
        padding: 0px;
    }

    .info {
        width: 100%;
        height: auto;
        padding-top: 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        padding-top: 0px;
    }

    .hebergements-and-populaires .populaires {
        border-radius: 0px;
        padding: 20px;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }

    .populaires-cards a, .hebergements-cards a {
        width: 100%;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
        padding: 20px;
        margin-top: 10px;
    }

    .hebergements-cards {
        margin-top: 15px;
        gap: 15px;
    }

    .populaires {
        margin-top: 0;
    }

    .activity-card {
        flex-direction: column;
    }

    .activity-card a {
        width: 100%;
        padding-bottom: 10px;
    }

    .activity-card img {
        height: 150px;
    }

    .activity-card article {
        padding: 0;
    }

    .activity-card .card-content {
        height: auto;
    }

    .foot {
        flex-direction: column;
    }

    .foot-column-size {
        width: 100%;
    }

    .main-container {
        padding: 0;
    }

    .first-party {
        padding: 0 20px 0 20px;
    }

    .activities {
        padding-top: 0px;
    }

    .show-more a {
        padding-top: 15px;
    }
}