* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
.fa-location-dot {
    display: flex;
    justify-content:  space-around;
    align-items: center;
    color: black;
    font-size: 18px;
    width: 40px;
    background-color: #F2F2F2;
    height: 28px;
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px ;
    padding: 15px;
   
   
}

.fa-solid {
    color: var(--main-color);

}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 79px;

}

.navigate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 68px;
    font-size: 16px;
    box-sizing: border-box;

}
.button {
    padding: 0 10px;
    margin: 10px 0;
}
.button :hover {
    color: #0065FC;
    
}
.button :after {
    content: "";
    position: absolute;
    background-color: #0065FC;
    height: 3px;
    width: 0;
    left: 0;
    top: -38px;
}
.button :hover:after {
    width: 100%;
}

h1 {
    font-size: 22px;
}
p {
    margin-top: -10px;
}

form{
    display: flex;
}

    
input {
    display: flex;
    border: 1px solid #F2F2F2;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    background-color: inherit;
    color: inherit;
    padding: 15px;
    
}




.city {
    
    
}

.search {
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
.logo-container {
    height: 79px ;
}

.imglogo {
    width: 70px;
    padding: 30px 50px 50px 0px;
    
}

a {
    color: black; 
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

.section-title {
    margin: 0;
    font-size: 22px;
    
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    padding-top: 20px; /*modifier pour work sur barre de recherche*/
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




